<!-- Shows in events/id#/edit -->
<h2><%= @event.title %></h2>

<p>
  <%= @event.start_time %>
  <%= @event.start_meridian %>
</p>

<p>
  <%= @event.end_time %>
  <%= @event.end_meridian %>
</p>

<button>
  <%= link_to "Save", event_path(@event),
                          method: :save %>
</button>

<button>
  <%= link_to "Delete", event_path(@event),
                          method: :delete,
                          data: {confirm: 'Are you sure?'}%>
</button>
