<!-- Shows in events/id#/edit -->
<h2>Edit: <%= @event.title %></h2>

<%= form_for @event do |f| %>
  <p>
    <%=f.label :title%>
    <%=f.text_field :title%>
  </p>

  <p>
    <%=f.label :start_time.strftime("%b %d. %Y %I:%M %p")%>
    <%=f.text_field :start_time%>
  </p>

  <p>
    <%=f.label :start_meridian%>
    <%=f.text_field :start_meridian%>
  </p>

  <p>
    <%=f.label :end_time.strftime("%b %d. %Y %I:%M %p")%>
    <%=f.text_field :end_time%>
  </p>

  <p>
    <%=f.label :end_meridian%>
    <%=f.text_field :end_meridian%>
  </p>

  <p>
    <%=f.submit%>
  </p>
<% end %>

<%= link_to "Go Back", event_path %>
