<!-- Shows in events/id#/edit -->
<h2><%= @event.title %></h2>

<%= form_for @event do |f| %>
  <p>
    <%= f.label :title %><br />
	<%= f.text_field :title %><br />
  </p>
  <p>
    <%= f.label :start_time %><br />
	<%= f.text_area :start_time %><br />
  </p>
  <p>
    <%= f.label :start_meridian %><br />
	<%= f.text_area :start_meridian %><br />
  </p>
  <p>
    <%= f.label :end_time %><br />
	<%= f.text_area :end_time %><br />
  </p>
  <p>
    <%= f.label :end_meridian %><br />
	<%= f.text_area :end_meridian %><br />
  </p>
  <p>
    <%= f.submit "Saved" %><br />
  </p>
<% end %>
<%= link_to "Go Back", event_path %>
<button>
  <%= link_to "Delete", event_path(@event),
                          method: :delete,
                          data: {confirm: 'Are you sure?'}%>
</button>
