<!-- Shows as homepage -->
<html>
  <head>
    <h1>Welcome to Whenisbest!</h1>
  </head>

  <body>
    <!-- All events are listed here -->

    <li><%= link_to "Add Event", new_event_path %> </li>

    <h3> Current Time </h3>

    <%= date_today = Date.today  + (@week * 7)%>
    <%= day_today = Date.today.strftime('%A').to_s %>

    <%= start_week = date_today.at_beginning_of_week %>
    <%= end_week = date_today.at_end_of_week %>

    <h3>These are the events submitted so far</h3>

    <% @events.each do |event|%>
      <h3>
        <%= link_to event.title, edit_event_path(event) %>
      </h3>
      <p>
        <%=event.start_time%>
        <%=event.end_time%>
      </p>
    <%end%>


      <!-- Calendar starts here -->

      <div style = "width: 100%; height:100%">
        <div style ="background-color: rgb(0, 162, 232); width:100%; height: 100%">
          <button class="button">Back</button>
          <button class="button">Forward</button>
          <div class="wrapper">
            <form name = "Time">
              <select id = "dateTime" name = "Timetable">
                <option value = "1">Week</option>
                <option value = "2" selected>Day</option>
                <option value = "3">Month</option>
                <option value = "4">Year</option>
              </select>
            </form>
          </div>
        </div>

        <div>
          <table class ="table">
            <% for i in 0..24 do %>
              <tr>
              <% for j in 0..7 do %>

                <!-- print out day -->
                <% if i==0  and j!=0 %>
                  <td class = "regular">
                    <%= @days[j-1] %> <br>
                    <%= start_week + (j-1).days %>
                  </td>

                <!-- print out time -->
                <% elsif j==0 and i >0 %>
                  <td class = "regular">
                    <%= @times[i-1]%>
                  </td>

                <!-- print out empty cell -->
                <% else %>
                  <% found_events = [] %>
                  <% @events.each do |event| %>
                    <!-- First event in the events list is Nil -->
                    <!-- We should fix this -->
                    <% next if event.start_time.class == NilClass %>
                    <% if  check_time(start_week+(j-1).days, i-1, event) %>
                      <% found_events.push(event) %>
                    <% end %>
                  <% end %>
                  <% if found_events.length != 0 %>
                    <td class = "fill">
                      <!-- Print out all the found events -->
                      <% found_events.each do |found_event| %>
                        <%= link_to found_event.title, edit_event_path(found_event) %>
                      <% end %>
                    </td>
                  <% else %>
                    <!-- This is when no events are found in this cell -->
                    <td class = "regular"></td>
                  <% end %>
                <% end %>

              <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>


      <script>
            function myFunction() {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
            }
      </script>


  </body>
</html>